/* Start Footer */

  /* Start Footer */
  #footer {
    display: inline;
    float: left;
    width: 100%;
  }
  
  #footer .footer-top {
    background-image: linear-gradient(to right, #f8f9fa, #f8f9fa  , #f8f9fa);
    display: inline;
    float: left;
    padding: 200px 0;
    width: 100%;
  }
  
  #footer .footer-top .footer-top-area {
    display: inline;
    float: left;
    width: 100%;
  }
  
  #footer .footer-top .footer-top-area .footer-widget {
    display: inline;
    float: left;
    width: 100%;
  }
  
  #footer .footer-top .footer-top-area .footer-widget h4 {
    color: #000;
    margin-bottom: 20px;
    margin-left: 30px;
    text-transform: uppercase;
  }
  
  #footer .footer-top .footer-top-area .footer-widget ul li a {
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 0 5px 15px;
    position: relative;
    text-transform: capitalize;
  }
  
  #footer .footer-top .footer-top-area .footer-widget ul li a:before {
    left: 0;
    position: absolute;
    top: 5px;
  }
  
  
  #footer .footer-top .footer-top-area .footer-widget p {
    color: #000;
  }
  
  #footer .footer-top .footer-top-area .footer-widget address p {
    font-weight: lighter;
    letter-spacing: 0.5px;
  }
  
  #footer .footer-bottom {
    background-color: #f9f8fa;
    display: inline;
    float: left;
    padding: 25px 0;
    width: 100%;
  }
  
  #footer .footer-bottom .footer-bottom-area {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
  }
  
  #footer .footer-bottom .footer-bottom-area p {
    color: #000000;
    margin-bottom: 0;
    letter-spacing: 0.3px;
  }
  
  #footer .footer-bottom .footer-bottom-area p a {
    color: #000000;
  
  }
/* =============== CONTACT US =============== */

#contact {
    display: inline;
    float: left;
    padding: 100px 0;
    width: 100%;
}

#contact .contact-area {
    display: inline;
    float: left;
    width: 100%;
}

#contact .contact-area .contact-content {
    display: inline;
    float: left;
    width: 100%;
}

#contact .contact-area .contact-content .contact-left {
    display: inline;
    float: left;
    width: 100%;
}

#contact .contact-area .contact-content .contact-left .contactform {
    display: inline;
    float: left;
    width: 100%;
}

#contact .contact-area .contact-content .contact-left .contactform .reply-title {
    font-size: 25px;
    margin-top: 0;
}

#contact .contact-area .contact-content .contact-left .contactform label {
    display: block;
}

#contact .contact-area .contact-content .contact-left .contactform label .required {
    color: #f60;
}

#contact .contact-area .contact-content .contact-left .contactform input[type="text"],
#contact .contact-area .contact-content .contact-left .contactform input[type="email"],
#contact .contact-area .contact-content .contact-left .contactform input[type="url"] {
    border: none;
    border: 1px solid #ddd;
    color: #555;
    margin-bottom: 10px;
    height: 35px;
    padding: 5px;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#contact .contact-area .contact-content .contact-left .contactform textarea {
    border: none;
    border: 1px solid #ddd;
    color: #555;
    margin-bottom: 5px;
    padding: 10px;
    height: 150px;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#contact .contact-area .contact-content .contact-left .contactform .form-submit input {
    margin-top: 10px;
}

#contact .contact-area .contact-content .contact-right {
    display: inline;
    float: left;
    width: 100%;
}

#contact .contact-area .contact-content .contact-right iframe {
    height: 500px;
}

.site-btn {
  width:   51%;
display: inline-block;
border: none;
font-size: 20px;
font-weight: 200;
min-width: 100px;
padding: 18px 20px 14px;
border-radius: 20px;
text-transform: uppercase;
background: #04fa7f;
color: #fff;
line-height: normal;
cursor: pointer;
text-align: center;
}
