/* ==================================== */
/* =============== HOME =============== */
/* ==================================== */

#mainNav {
    min-height: 56px;
    background-color: #fff;
  }
  
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
  }
  
  #mainNav .navbar-toggler:focus {
    outline: none;
  }
  
  #mainNav .navbar-brand {
    color: #161616;
    font-weight: 700;
    padding: .9rem 0;
  }
  
  #mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
  }
  
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      -webkit-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      padding: .5rem 0;
      color: #f9f8fa;
    }
    #mainNav .nav-link {
      -webkit-transition: none;
      transition: none;
      padding: 2rem 1.5rem;
      color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link:hover {
      color: rgba(255, 255, 255, 0.75);
    }
    #mainNav .nav-link:active {
      color: white;
    }
    #mainNav.navbar-shrink {
      background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #161616;
    }
    #mainNav.navbar-shrink .nav-link {
      color: #161616;
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
      color: #64a19d;
    }
    #mainNav.navbar-shrink .nav-link:active {
      color: #467370;
    }
    #mainNav.navbar-shrink .nav-link.active {
      color: #64a19d;
      outline: none;
      border-bottom: 0.25rem solid #64a19d;
    }
  } 
  
  @media (min-width: 768px) {
    .masthead h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0;
    }
    .masthead h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    .masthead h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }


/* start content */

#popular {
    font-family: 'Bahnschrift Light';
    font-size: 40px;
    color: black;
    padding-bottom: 0;
}

hr.new2 {
    border-top: 2px solid #e708e7;
    width: 10%;
    border-radius: 50px;
}

#row-up {
    padding-bottom: 4%;
    padding-top: 4%;
    text-align: center;
}

/* finish content */


/* Start Footer */
#footer {
  display: inline;
  float: left;
  width: 100%;
}

#footer .footer-top {
  background-image: linear-gradient(to right, #f8f9fa, #f8f9fa  , #f8f9fa);
  display: inline;
  float: left;
  padding: 200px 0;
  width: 100%;
}

#footer .footer-top .footer-top-area {
  display: inline;
  float: left;
  width: 100%;
}

#footer .footer-top .footer-top-area .footer-widget {
  display: inline;
  float: left;
  width: 100%;
}

#footer .footer-top .footer-top-area .footer-widget h4 {
  color: #000;
  margin-bottom: 20px;
  margin-left: 30px;
  text-transform: uppercase;
}

#footer .footer-top .footer-top-area .footer-widget ul li a {
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 0 5px 15px;
  position: relative;
  text-transform: capitalize;
}

#footer .footer-top .footer-top-area .footer-widget ul li a:before {
  left: 0;
  position: absolute;
  top: 5px;
}


#footer .footer-top .footer-top-area .footer-widget p {
  color: #000;
}

#footer .footer-top .footer-top-area .footer-widget address p {
  font-weight: lighter;
  letter-spacing: 0.5px;
}

#footer .footer-bottom {
  background-color: #f9f8fa;
  display: inline;
  float: left;
  padding: 25px 0;
  width: 100%;
}

#footer .footer-bottom .footer-bottom-area {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

#footer .footer-bottom .footer-bottom-area p {
  color: #000000;
  margin-bottom: 0;
  letter-spacing: 0.3px;
}

#footer .footer-bottom .footer-bottom-area p a {
  color: #000000;

}

/* finish footer */

/* ==================================== */
/* =============== ABOUT =============== */
/* ==================================== */

/* start section  */

body,
html {
    height: 100%;
    margin: 0;
}

.hero-image-ticket {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://miro.medium.com/fit/c/1838/551/1*ztxHHEoRGpC7RdHHh-jhpA.jpeg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.geniushost.in/images/about-us.png);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-xperience {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://www.atlanticaerialworx.com/wp/wp-content/uploads/2016/01/Xperience-Word-1000-x-400@2x.png);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-rentcar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://www.classiccar.com.pk/islamabad_rent_a_car/classic_car_banner.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-gallery {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://thespinoff.co.nz/wp-content/uploads/2017/12/2017-lindauer-install-6.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://maccustomersolution.com/images/contactus_banner.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text .carousel-caption {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    margin-bottom: 3%;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

/* finish section */


/* ========================================== */
/* =============== CONTACT US =============== */
/* ========================================== */

/* start contact us */

#contact {
    display: inline;
    float: left;
    padding: 100px 0;
    width: 100%;
}

#contact .contact-area {
    display: inline;
    float: left;
    width: 100%;
}

#contact .contact-area .contact-content {
    display: inline;
    float: left;
    width: 100%;
}

#contact .contact-area .contact-content .contact-left {
    display: inline;
    float: left;
    width: 100%;
}

#contact .contact-area .contact-content .contact-left .contactform {
    display: inline;
    float: left;
    width: 100%;
}

#contact .contact-area .contact-content .contact-left .contactform .reply-title {
    font-size: 25px;
    margin-top: 0;
}

#contact .contact-area .contact-content .contact-left .contactform label {
    display: block;
}

#contact .contact-area .contact-content .contact-left .contactform label .required {
    color: #f60;
}

#contact .contact-area .contact-content .contact-left .contactform input[type="text"],
#contact .contact-area .contact-content .contact-left .contactform input[type="email"],
#contact .contact-area .contact-content .contact-left .contactform input[type="url"] {
    border: none;
    border: 1px solid #ddd;
    color: #555;
    margin-bottom: 10px;
    height: 35px;
    padding: 5px;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#contact .contact-area .contact-content .contact-left .contactform textarea {
    border: none;
    border: 1px solid #ddd;
    color: #555;
    margin-bottom: 5px;
    padding: 10px;
    height: 150px;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#contact .contact-area .contact-content .contact-left .contactform .form-submit input {
    margin-top: 10px;
}

#contact .contact-area .contact-content .contact-right {
    display: inline;
    float: left;
    width: 100%;
}

#contact .contact-area .contact-content .contact-right iframe {
    height: 500px;
}

/* finish contact us */


/* ========================================== */
/* =============== TICKET RESERVATION =============== */
/* ========================================== */

/* start menu */

.menu-ts h1 {
    padding-top: 3%;
    padding-bottom: 0%;
    font-size: 40px;
    font-family: 'Bahnschrift Light';
    color: black;
    text-align: center;

}

.menu-ts p {
    padding-bottom: 3%;
    font-size: 18px;
    font-family: 'arial';
    color: black;
    text-align: center;
}

.container-menu {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.image-pilihan {
    display: block;
    width: 250px;
    height: 180px;
    border-radius: 10px;
    border: 3px dotted #e708e7;
}

.image-pesawat {
    display: block;
    width: 250px;
    height: 180px;
    border-radius: 10px;

}

.image-hotels {
    display: block;
    width: 250px;
    height: 180px;
    border-radius: 10px;

}

.image-kai {
    display: block;
    width: 250px;
    height: 180px;
    border-radius: 10px;
}

.image-movie {
    display: block;
    width: 250px;
    height: 180px;
    border-radius: 10px;
}


#menu-pesawat {
    padding-bottom: 40px;
}

.overlay {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background: transparent;
    text-align: center;
    bottom: 25%;

}

.container-menu:hover .overlay {
    opacity: 1;
}


.button {
    border-radius: 30px;
    background: rgba(245, 241, 241, 0.747);
    border-color: #e708e7;
    color: #e708e7;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
    font-family: 'Bahnschrift Light';
    font-weight: bold;

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-align: center;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


#overlay-booking {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

/* finish menu */



/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #e708e7;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 10px;

}

/* Container around content */
.container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;

}

/* The circles on the timeline */
.container-timeline::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    right: -16px;
    background-color: white;
    border: 4px solid #007bff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;

}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #e708e7;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e708e7 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    border: 1px solid #e708e7;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container-timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container-timeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/* finish timeline */

/* ==================================== */
/* =============== GALLERY =============== */
/* ==================================== */

/* start video gallery */

.container-gallery {
    text-align: center;
    padding: 5% 6%;
}

/* finish video gallery */


/* ==================================== */
/* =============== XPERIENCE =============== */
/* ==================================== */

/* start search */

#polaroid-search {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

/* finish search */